<% if @component.errors.any? %>
 <div id="error_explanation">
   <h3><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h3>

   <ul>
   <% @component.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
<% end %>

<%= f.label :part_no %>
<%= f.text_field :part_no %>

<%= f.label :quantity %>
<%= f.number_field :quantity %>

<%= f.label :price %>
<%= f.text_field :price %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :rating %>
<%= f.text_field :rating %> <br>