<p id="notice"><%= notice %></p>

<p>
  <b>Part no:</b>
  <%= @component.part_no %>
</p>

<p>
  <b>Quantity:</b>
  <%= @component.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @component.price %>
</p>

<p>
  <b>Description:</b>
  <%= @component.description %>
</p>

<p>
  <b>Supplier:</b>
  <%= @component.supplier %>
</p>

<p>
  <b>Rating:</b>
  <%= @component.rating %>
</p>


<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
