<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Beaker", root_path, id: "logo", class: "brand" %>
      <nav>
        <ul class="nav">
          <li class="<%= active_link(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= active_link(components_path) %>"><%= link_to "Browse", components_path %></li>
          <li class="<%= active_link(supplier_page_path) %>"><%= link_to "Supplier Page", suppliers_path %></li>
        </ul>
        <ul class="nav pull-right">
          <div class="btn-group">
            <% if user_signed_in? %>
              <button class="btn"><%= current_user.email %></button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                <li><%= link_to "Profile", "#" %></li>
                <li><%= link_to "Settings", "#" %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
              </ul>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %></li>
            <% end %>
          </div>
        </ul>
      </nav>
    </div>
  </div>



</header>