<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to "Beaker", root_path, class: "brand", id: "logo" %>
      <ul class="nav">
        <li class="<%= active_link(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= active_link(search_results_path) %>"><%= link_to "Search Results", search_results_path %></li>
        <li><a href="#">Supplier Page</a></li>
        <li><a href="#">User Profile</a></li>
        <li><a href="#">Supplier Profile</a></li>
        <li><a href="#">Product Page</a></li>
      </ul>
      <form class="navbar-form pull-right">
        <input type="text" class="search-query" placeholder="Search...">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
